
<h1>olá mundo</h1>


<!-- <section class="container_pag_cadastro">


    <form id="container_formulario" action="/update/=produtoPut.id"" method="POST">

        <h2>Atualize seu Jordan</h2>

        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" value="=produtoPut.nome" required>

        <label for="nota">Nota: </label>
        <input type="text" name="nota" id="nota"  value="=produtoPut.nota" required>

        <label for="uso">Uso: </label>
        <input type="text" name="uso" id="uso"  value="<=produtoPut.uso%>" required>

        <label for="descricao">Descrição: </label>
        <input type="text" name="descricao" id="descricao"  value="<=produtoPut.descricao" required>

        <label for="material">Material: </label>
        <input type="text" name="material" id="material"  value="<=produtoPut.material%>" required>

        <label for="imagem1">Imagem1: </label>
        <input type="text" name="imagem1" id="Imagem1"  value="<=produtoPut.imagem1%>" required>

        <label for="Imagem2">Imagem2:</label>
        <input type="text" name="imagem2" id="imagem2"  value="<=produtoPut.imagem2%>" required>

        <label for="imagem3">Imagem3:</label>
        <input type="text" name="imagem3" id="imagem3"  value="<=produtoPut.imagem3%>" required>

        <div id="bt_div">
            <button id="bt" type="submit">Atuaizar</button>
        </div>
    </form>
</section> -->