
<section class="overlay">
    <div class="modal">
        <div class="modal-header">
            <h3>Remover produto</h3>
            <a href="/" id="modal-close"><img src="https://img.icons8.com/fluency/48/000000/delete-sign.png" /></a>
        </div>
        <div class="modal-body">
            <p>Tem certeza que quer apagar o <%=produtoDel.nome%>?</p>
            <div id="btns-del">
                <a id="no" href="/">Não</a>
                <a id="yes" href="/remove/<%=produtoDel.id%>">Sim</a>
            </div>
        </div>
    </div>
</section>