<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeuSneaker.com</title>
    <link rel="shortcut icon" href="/assets/media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/cadastro.css">
</head>
<body>
    <header>
        <nav class="navBar">
            <img src="/assets/media/Ativo 1.png" alt="logo">
            <div class="btn">
                <a href="/">Meus Sneakers</a>
                <a href="">TOP10 da Semana</a>
                <a href="">Lançamentos</a>
                <a id="btnCadastrar" href="/cadastro">CADASTRAR</a>
            </div>
    </header>
    <main>
        <a href="https://github.com/Felipe360flp/APOIO_PJTO_FINAL" target="_blank" rel="noopener noreferrer">Dados de Cadastro</a>
        <section class="container_pag_cadastro">
        

                <form id="container_formulario" action="/create" method = "POST">

                    <h2>Cadastre seu Sneaker</h2>

                    <label for="nome">Nome: </label>
                    <input type="text" name="nome" id="nome" placeholder="Digite o nome do produto:" required>

                    <label for="nota">Nota: </label>
                    <input type="text" name="nota" id="nota" placeholder="Dê uma nota de 1 a 5:" required>                

                    <label for="descricao">Descrição: </label>
                    <input type="text" name="descricao" id="descricao" placeholder="Informe a descrição do pruduto" required>

                    <label for="uso">Uso: </label>
                    <input type="text" name="uso" id="uso" placeholder="Informe o tipo de uso:" required>

                    <label for="material">Material: </label>
                    <input type="text" name="material" id="material" placeholder="Informe o material do pruduto" required>

                    <label for="imagem1">Imagem1: </label>
                    <input type="text" name="imagem1" id="Imagem1" placeholder="Digite URL da imagem1:" required>

                    <label for="Imagem2">Imagem2:</label>
                    <input type="text" name="imagem2" id="imagem2" placeholder="Digite URL da imagem2:" required>

                    <label for="imagem3">Imagem3:</label>
                    <input type="text" name="imagem3" id="imagem3" placeholder="Digite URL da imagem3:" required>

                    <div id="bt_div">
                        <button class="btn-cad" id="bt-del" type="reset">Apagar</button>
                        <button class="btn-cad" id="bt-save" type="submit">Salvar</button>
                    </div>
                </form>
        </section>
    </main>
    <footer>
        <p>Todos os direitos reservados &copy; - David - Micael - Felipe - Carlos </p>
    </footer>
</body>
</html>