<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeuSneaker.com</title>
    <link rel="shortcut icon" href="../assets/media/icons8-tennis-96.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav class="navBar">
            <img src="../assets/media/logo-home.jfif" alt="logo">
            <div class="btn">
                <a href="">Meus Sneakers</a>
                <a href="">TOP10 da Semana</a>
                <a href="">Lançamentos</a>
                <a id="btnCadastrar" href="/cadastro">CADASTRAR</a>
            </div>
    </header>
    <footer>
        <p>Todos os direitos reservados &copy; - David - Micael - Felipe - Carlos </p>
    </footer>
</body>
</html>