<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto3</title>
</head>
<body>
    <header>
        <h1>
            PROJETO 3 AIR JORDAN
        </h1>
    </header>
    <main>
        <% estoque.forEach((Produto) => { %>
       <h2>"<% Produto.descricao%>"</h2>
        <% }); %>

    </main>
</body>
</html>