@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../assets/media/background-cadastro.jpg);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.541);
    background-size: cover;
    background-repeat: no-repeat;
}

:root {
    --colorBluedark: #204e7d;
    --colorGreen: #d3e600;
    --colorWhite: #f7fee6;
    --colorBluelight: #00dbc5;
    --colorBlacksmooth: #505751;

}

header {
    z-index: 9999;
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--colorBluedark);
    height: 8rem;
    box-shadow: 2px 2px 8px rgb(0, 0, 0),
    inset 2px -2px 5px rgb(0, 0, 0);
    

}

nav a {
    font-family: Montserrat;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: var(--colorBlacksmooth);
    padding: 1rem;
    margin: 1rem;
    margin-top: 4rem;
    border-radius: 0.2rem;
    text-shadow: 1px 1px 2px var(--colorBlacksmooth);
    transition: all .5s 1ms ease;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39),
    inset 2px -2px 5px rgb(0, 0, 0);


}


nav a:hover {
    transition: all .5s 1ms ease;
    text-decoration: none;
    background-color: var(--colorBluelight);
    color: var(--colorWhite);
    font-weight: 900;
}

nav img {
    width: 15%;
    transform: translateY(25%);
    padding-right: 2rem;
}



#btnCadastrar {
    padding: 2rem;
    margin: 2rem;
    text-decoration: none;
    background-color: var(--colorGreen);
    color: var(--colorWhite);
    border-radius: 0.7rem;
    transform: translateY(25%);
}

#btnCadastrar:hover {
    transition: 0.5s;
    text-decoration: none;
    background-color: var(--colorBluelight);
    color: var(--colorBlacksmooth);
    font-weight: 900;
}

main a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmax;
    margin-top: 5vmax;
    text-decoration: none;
    color: var(--colorWhite);
    text-shadow: 2px 2px 6px black;
    transition: all .8s ease;
    font-weight: 900;
}
main a:hover{
    color: var(--colorGreen);
    text-shadow: 0px 0px 15px var(--colorGreen);

}

section.container_pag_cadastro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: 1px 1px 2px var(--colorBlacksmooth);
    margin-bottom: 3vmax;
}


section.container_pag_cadastro form#container_formulario {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.2vmax;
    height: 31vmax;
    width: 25vmax;
    margin: 3vmax 0;
    border-radius: 1vmax;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px rgba(255, 255, 255, 0.1) solid;
    border-radius: 1vmax;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.651),
    inset 1px -1px 4px rgba(0, 0, 0, 0.514)
   

}

section.container_pag_cadastro form#container_formulario h2{
    text-align: center;
    font-weight: 900;
    color: var(--colorWhite);
    font-size: 1.5vmax;

}

section.container_pag_cadastro form#container_formulario label {
    
    color: var(--colorGreen);
    font-size: 1vmax;
    font-weight: 900;
    margin-top: .5vmax;
}

form#container_formulario input {
    background-color: #ffffff8e;
    border: 1px solid var(--colorBluedark);
    border-radius: .5vmax;
    padding: .2vmax;
    font-size: .9vmax;
    outline-style: none;
}

#bt_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-cad {
    width: 8vmax;
    height: 2.5vmax;
    color: var(--colorBluedark);
    background-color: var(--colorWhite);
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1.2vmax;
    border-radius: .2vmax;
    margin-top: 1vmax;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39),
    inset 2px -2px 5px rgb(0, 0, 0);
    text-shadow: 1px 1px 2px black;
    transition: all .6s ease;
  
}

#bt-save:hover{
    color: var(--colorWhite);
    background-color: var(--colorBluelight);
    font-weight: 900;
    cursor: pointer;
}

#bt-del:hover{
    color: var(--colorWhite);
    background-color: rgb(231, 54, 54);
    font-weight: 900;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 1vmax;
    color: var(--colorWhite);
    background-color: var(--colorBluedark);
}


@media screen and (max-width:820px){
    section.container_pag_cadastro form#container_formulario{
        height:50vmax;
        width:30vmax;
        margin-top: 10vmax;
    }
    footer{
        font-size: 1vmax;
    }
    
}