@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Dela Gothic, Arial;
    border: none;

}

:root {
    --colorBluedark: #204e7d;
    --colorGreen: #d3e600;
    --colorWhite: #f7fee6;
    --colorBluelight: #00dbc5;
    --colorBlacksmooth: #505751;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/assets/media/back-detalhes.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    z-index: 998;
    margin-bottom: 3vmax;
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--colorBluedark);
    height: 8rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.651),
        inset 1px -1px 4px rgba(0, 0, 0, 0.514);
}

nav a {
    font-family: Montserrat;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: var(--colorBlacksmooth);
    padding: 1rem;
    margin: 1rem;
    margin-top: 4rem;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.651),
        inset 1px -1px 4px rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 4px var(--colorBlacksmooth);
    transition: all .5s 1ms ease;


}


nav a:hover {
    transition: all .5s 1ms ease;
    text-decoration: none;
    background-color: var(--colorBluelight);
    color: var(--colorWhite);
    font-weight: 900;
}

nav img {
    width: 15%;
    transform: translateY(25%);
    padding-right: 2rem;
}



nav #btnCadastrar {
    padding: 2rem;
    margin: 2rem;
    text-decoration: none;
    background-color: var(--colorGreen);
    color: var(--colorWhite);
    border-radius: 0.7rem;
    transform: translateY(25%);
}

nav #btnCadastrar:hover {
    transition: 0.5s;
    text-decoration: none;
    background-color: var(--colorBluelight);
    color: var(--colorBlacksmooth);
    font-weight: 900;
}

.detalhesTenis {
    align-items: center;
    display: flex;
    padding: 3rem;
    padding-left: 10vmax;
    
}

.textoDetalhes {
    display: block;
    padding-left: 2rem;
}

.textoDetalhes h2 {
    font-family: Dela Gothic One;
    padding-bottom: .2rem;
}

.textoDetalhes h3 {
    padding-bottom: .2rem;
}

.textoDetalhes p {
    padding-bottom: .2rem;
    margin-right: 15vmax;
}

/* Slider */

.container {
    width: 50%;
    align-content: center;
    align-items: center;
    margin: 0;
}

.wrap {
    width: 25vmax;
    margin-bottom: 50px;
    padding-bottom: 80%;
    position: relative;
    background-color: #00000000;
    overflow: hidden;
}

.wrap>input {
    display: none;
}

.wrap .imagens {
    position: absolute;
    align-content: center;
    width: 500%;
    height: 300%;
    list-style: none;
    flex-wrap: wrap;
    transition: all 1s;

}

.wrap .s-imagens {
    display: inline-block;
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    flex-wrap: wrap;
    justify-content: center;


}


.s-imagens-1{
    height: 1vmax;
    margin-left: 30vmax;
}

.s-imagens-1 img{
    height: 8vmax
}

.s-imagens-2{
    height: 1vmax;
    margin-left: 58vmax;
}   

.s-imagens-2 img {
    height: 14vmax
}

.s-imagens-3 {
    height: 1vmax;
    margin-left: 3vmax;
}

.s-imagens-3 img {
    height: 8vmax
}

.type .s-control {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    transition-timing-function: ease-out;
}

.type .s-control>label[class^="s-c-"] {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #D3E600;
    background-color: #efefe8;
    cursor: pointer;
}

.type .s-nav label {
    display: none;
    position: absolute;
    top: 50%;
    padding: 5px 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.type .s-nav label::before,
.type .s-nav label::after {
    content: "";
    display: block;
    width: 8px;
    height: 24px;
    background-color: #D3E600;
}

.type .s-nav label::before {
    margin-bottom: -12px;
}

.type .s-nav label.left {
    left: 20px;
}

.type .s-nav label.left::before {
    transform: rotate(45deg);
}

.type .s-nav label.left::after {
    transform: rotate(-45deg);
}

.type .s-nav label.right {
    right: 20px;
}

.type .s-nav label.right::before {
    transform: rotate(-45deg);
}

.type .s-nav label.right::after {
    transform: rotate(45deg);
}

.type #s-1:checked~.imagens {
    transform: translateX(0%);
}

.type #s-1:checked~.s-control .s-c-1 {
    background-color: #D3E600;
}

.type #s-1:checked~.s-nav .s-nav-1 {
    display: block;
}

.type #s-2:checked~.imagens {
    transform: translateX(-20%);
}

.type #s-2:checked~.s-control .s-c-2 {
    background-color: #D3E600;
}

.type #s-2:checked~.s-nav .s-nav-2 {
    display: block;
}

.type #s-3:checked~.imagens {
    transform: translateX(-40%);
}

.type #s-3:checked~.s-control .s-c-3 {
    background-color: #D3E600;
}

.type #s-3:checked~.s-nav .s-nav-3 {
    display: block;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding: 1vmax;
    color: var(--colorWhite);
    background-color: var(--colorBluedark);
}

@media screen and (max-width:820px) {



    body main div.detalhesTenis{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 5vmax;
        padding: 0;
    }
    body main div.detalhesTenis div.container {
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

        
    }body main div.detalhesTenis div.container div.wrap{
        width:30vmax;
        height: 15vmax;
        padding: 2vmax;
        align-self: center;
        justify-content: center;
    }
  .s-imagens-1 img{
      height: 12vmax ;
      margin-left: 5vmax;
  }

.s-imagens-2 img {
    height: 12vmax;
    margin-left: 15vmax;
}

.s-imagens-3 img {
    height: 12vmax;
    margin-left: 1vmax;
}

    body main div.detalhesTenis div.Textodetalhes{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vmax;
        margin: -3vmax 0 2vmax 0;
        width: 100%;
    }
    footer{
        font-size: 1vmax;
    }
}