@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --colorBluedark: #204e7d;
    --colorGreen: #d3e600;
    --colorWhite: #f7fee6;
    --colorBluelight: #00dbc5;
    --colorBlacksmooth: #505751;

}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
}

body{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-image: url(../assets/media/melhor-tenis-de-basquete-2-.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-color: #00000086;
}

header{
     z-index: 998;
}
nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--colorBluedark);
    height: 8rem;
    box-shadow: 2px 2px 8px rgb(0, 0, 0),
        inset 2px -2px 5px rgb(0, 0, 0);


}

nav a {
    font-family: Montserrat;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: var(--colorBlacksmooth);
    padding: 1rem;
    margin: 1rem;
    margin-top: 4rem;
    border-radius: 0.2rem;
    text-shadow: 1px 1px 2px var(--colorBlacksmooth);
    transition: all .5s 1ms ease;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39),
        inset 2px -2px 5px rgb(0, 0, 0);


}


nav a:hover {
    transition: all .5s 1ms ease;
    text-decoration: none;
    background-color: var(--colorBluelight);
    color: var(--colorWhite);
    font-weight: 900;
}

nav img {
    width: 15%;
    transform: translateY(25%);
    padding-right: 2rem;
}

#btnCadastrar {
    padding: 2rem;
    margin: 2rem;
    text-decoration: none;
    background-color: var(--colorGreen);
    color: var(--colorWhite);
    border-radius: 0.7rem;
    transform: translateY(25%);
}

#btnCadastrar:hover {
    transition: 0.5s;
    text-decoration: none;
    background-color: var(--colorBluelight);
    color: var(--colorBlacksmooth);
    font-weight: 900;
}

main section.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8vmax 10vmax 5vmax 10vmax;
    min-height: 100%;
    

}

main section.card div#card{
    height: 20vmax;
    width: 15vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1vmax 3vmax;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.651),
		inset 1px -1px 4px rgba(0, 0, 0, 0.514);
	padding: .5vmax;
	background-color: rgb(255, 255, 255, 0.1);
	backdrop-filter: blur(8px);
	border: 1px rgb(255, 255, 255,0.1) solid;
	border-radius: 1vmax;
    color: var(--colorWhite);
    transition: all .8s ease;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.63);
    font-weight: 400;
    font-size: 1.7vmax;
  
}


main section.card div#card img.tenis{
    height: 4.5vmax;
    transition: all .8s;
}
main section.card div#card img.tenis:hover{
    height: 6.5vmax;
    transform: translateY(-1vmax);
    
}


main section.card div#rank{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
main section.card div#rank img{
    height: 1.1vmax;
}

main section.card div#card p{
    font-size: 1.2vmax;
    text-align: center;
}


section.overlay {
    background-color: rgba(0, 0, 0, 0.411);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

}

section.overlay div.modal {
    margin: 2vmax;
    width: 100%;
    max-width: 600px;
    height: auto;
    min-height: 300px;
    background-color: var(--colorWhite);
    border-radius: 1vmax;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

section.overlay div.modal div.modal-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--colorBluedark);
    padding: 1vmax;
    color: var(--colorWhite);

}

section.overlay div.modal div.modal-header a#modal-close img{
    height: 1.5vmax;
}

section.overlay div.modal div.modal-body {
    padding: 1vmax 2vmax;
    flex: 1;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

section.overlay div.modal div.modal-body form.modal-form {
    display: flex;
    flex-wrap: wrap;
}

section.overlay div.modal div.modal-body form.modal-form input {
    width: 100%;
    padding: .4vmax;
    outline: none;
    font-size: .8vmax;
    border: 1px solid var(--colorBluedark);
    border-radius: .5vmax;
}

section.overlay div.modal div.modal-body form.modal-form label {
    color: var(--colorBlacksmooth);
    padding-top: .5vmax;
    font-weight: 900;
}

section.overlay div.modal div.modal-body form.modal-form button#modal-btn {
    width: 8vmax;
    height: 2.5vmax;
    color: var(--colorBluedark);
    background-color: var(--colorWhite);
    font-family: Montserrat,
        sans-serif;
    font-weight: 400;
    font-size: 1.2vmax;
    border-radius: .2vmax;
    margin-top: 1vmax;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39),
        inset 2px -2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 2px black;
    transition: all .6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vmax auto .5vmax auto;

}

section.overlay div.modal div.modal-body form.modal-form button#modal-btn:hover {
    color: var(--colorWhite);
    background-color: var(--colorBluelight);
    font-weight: 900;
}

section.overlay div.modal div.modal-body p{
    width: 100%;
    font-size: 1.2vmax;
    text-align: center;
}

div#btns-del{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}
section.overlay div.modal div.modal-body div#btns-del a{
    width: 8vmax;
    height: 2.5vmax;
    color: var(--colorBluedark);
    background-color: var(--colorWhite);
    font-family: Montserrat,
    sans-serif;
    font-weight: 400;
    font-size: 1.2vmax;
    border-radius: .2vmax;
    margin-top: 1vmax;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39),
    inset 2px -2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    transition: all .6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4vmax .5vmax 0vmax .5vmax;
   
}

section.overlay div.modal div.modal-body div#btns-del a#yes:hover{
    color: var(--colorWhite);
    background-color: var(--colorBluelight);
    font-weight: 900;
}

section.overlay div.modal div.modal-body div#btns-del a#no:hover {
    color: var(--colorWhite);
    background-color: rgb(231, 54, 54);
    font-weight: 900;
}

.drop-menu{
    display: flex;
    justify-content: flex-end;
    margin-left: 10vmax;
    margin-top: -1vmax;

}

.drop-btn{
    transition: all .5s ease;
    position: relative;
}

.drop-btn:hover{
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.466);
    cursor: pointer;
}

.drop-content{
    display:none;
    position: absolute;
    width: 7vmax;
    margin-top: 1.6vmax;
    overflow: auto;
}

.drop-content a{
    display: flex;
    justify-content: flex-end;
    background-color: var(--colorWhite);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39),
    inset 2px -2px 4px rgba(0, 0, 0, 0.5);
    transition: all .5s ease;
    padding: .5vmax;
    font-size: .8vmax;
    font-weight: 900;
    text-decoration: none;
    color: var(--colorBlacksmooth);
}

.drop-content a:hover{
    background-color: var(--colorBluedark);
    color: var(--colorWhite);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding: 1vmax;
    color: var(--colorWhite);
    background-color: var(--colorBluedark);
}


@media screen and (max-width:820px) {
    main section.card{
        margin: 8vmax 1vmax 3vmax 1vmax;

    }
    main section.card div#card{
        margin: 2vmax;
    }
    footer{
        font-size: 1vmax;
    }
}