@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

:root {
    --colorBluedark: #204e7d;
    --colorGreen: #d3e600;
    --colorWhite: #f7fee6;
    --colorBluelight: #00dbc5;
    --colorBlacksmooth: #505751;
    
}

header{
     z-index: 998;
}

nav{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    background-color: var(--colorBluedark);
    height: 8rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.651),
    inset 1px -1px 4px rgba(0, 0, 0, 0.514)
   
}

nav a{
    font-family: Montserrat;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: var(--colorBlacksmooth);
    padding: 1rem;
    margin: 1rem;
    margin-top: 4rem;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.651),
    inset 1px -1px 4px rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 4px var(--colorBlacksmooth);
    transition: all .5s 1ms ease;
    

}


nav a:hover {
    transition: all .5s 1ms ease;
    text-decoration: none;
    background-color: var(--colorBluelight);
    color: var(--colorBlacksmooth);
    font-weight:900;
}

nav img{
    width: 15%;
    transform: translateY(25%);
    padding-right: 2rem;
}



#btnCadastrar{
    padding: 2rem;
    margin: 2rem;
    text-decoration: none;
    background-color: var(--colorGreen);
    color: var(--colorWhite);
    border-radius: 0.7rem;
    transform: translateY(25%);
}

#btnCadastrar:hover{
    transition: 0.5s;
    text-decoration: none;
    background-color: var(--colorBluelight);
    color: var(--colorBlacksmooth);
    font-weight: 900;
}

main{

    background-size: cover;
    background-image: url(../assets/media/melhor-tenis-de-basquete-2-.png);
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: #00000086;

}

section.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15vmax 20vmax 5vmax 20vmax;
    

}

section.card div#card{
    height: 15vmax;
    width: 10vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1vmax 3vmax;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.651),
		inset 1px -1px 4px rgba(0, 0, 0, 0.514);
	padding: 1vmax;
	background-color: rgb(255, 255, 255, 0.1);
	backdrop-filter: blur(8px);
	border: 1px rgb(255, 255, 255,0.1) solid;
	border-radius: 1vmax;
    color: var(--colorWhite);
    transition: all .8s ease;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.63);
    font-weight: 400;
  
}

section.card div#card:hover{
	transform: translateY(-1.2vmax);
}

section.card div#card img#tenis{
    height: 6vmax;
    transition: all .8s;
}
section.card div#card img#tenis:hover{
    height: 8vmax;
    animation: 1ms rotation forwards;
}


@keyframes rotation {
    to{
        transform: translateY(-1.2vmax) rotatey(-185deg);
}
}


section.card div#rank{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section.card div#rank img{
    height: 1.2vmax;
}

section.card div#card p{
    font-size: 1.1vmax;
    text-align: center;
}

section.card div#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    border: #00dbc5 2px solid;
   
}


section.card div#links a{
    text-decoration: none;
    color: var(--colorWhite);
    padding: .15vmax;
    transition: all .8s;
    font-weight: 900;
}

section.card div#links a:hover{
    color: var(--colorBluelight);
}

section.container_pag_cadastro form#container_formulario {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5vmax;
    height: 32vmax;
    width: 25vmax;
    margin: 3vmax 0;
    border-radius: 1vmax;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px rgba(255, 255, 255, 0.1) solid;
    border-radius: 1vmax;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.651),
        inset 1px -1px 4px rgba(0, 0, 0, 0.514)
}

section.container_pag_cadastro form#container_formulario h2 {
    text-align: center;
    font-weight: 900;
    color: var(--colorWhite);
    font-size: 1.5vmax;

}

section.container_pag_cadastro form#container_formulario label {

    color: var(--colorGreen);
    font-size: 1vmax;
    font-weight: 900;
    margin-top: .5vmax;
}

form#container_formulario input {
    background-color: #ffffff8e;
    border: 1px solid var(--colorBluedark);
    border-radius: .5vmax;
    padding: .2vmax;
    font-size: 1.1vmax;
    outline-style: none;
}

#bt_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#bt {
    width: 8vmax;
    height: 2.5vmax;
    color: var(--colorBluedark);
    background-color: var(--colorWhite);
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1.2vmax;
    border-radius: .2vmax;
    margin-top: 1vmax;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39),
        inset 2px -2px 5px rgb(0, 0, 0);
    text-shadow: 1px 1px 2px black;
    transition: all .6s ease;

}

#bt:hover {
    color: var(--colorWhite);
    background-color: var(--colorBluelight);
    font-weight: 900;
}





.overlay{
    background-color: rgba(0, 0, 0, 0.411);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

}

.modal{
    margin: 2vmax;
    width: 100%;
    max-width: 600px;
    height: auto;
    min-height: 300px;
    background-color: var(--colorWhite);
    border-radius: 1vmax;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    background-color: var(--colorBluedark);
    padding: 1vmax;
    color: var(--colorWhite);
    
}

.modal-header a#modal-close{
    font-size: 1.5vmax;
    text-decoration: none;
    color: var(--colorWhite);
}

.modal-body{
    padding: 1vmax 2vmax;
    flex: 1;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.modal-form{
    display: flex;
    flex-wrap: wrap;
}

.modal-form input{
    width: 100%;
    padding: .4vmax;
    outline: none;
    font-size: .8vmax;
    border: 1px solid var(--colorBluedark);
    border-radius: .5vmax;
}

.modal-form label{
    color: var(--colorBlacksmooth);
    padding-top: .5vmax;
    font-weight: 900;
}

.modal-form button#modal-btn{
    width: 8vmax;
    height: 2.5vmax;
    color: var(--colorBluedark);
    background-color: var(--colorWhite);
    font-family: Montserrat,
    sans-serif;
    font-weight: 400;
    font-size: 1.2vmax;
    border-radius: .2vmax;
    margin-top: 1vmax;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39),
    inset 2px -2px 5px rgb(0, 0, 0);
    text-shadow: 1px 1px 2px black;
    transition: all .6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vmax auto .5vmax auto;

}

.modal-form button#modal-btn:hover{
    color: var(--colorWhite);
    background-color: var(--colorBluelight);
    font-weight: 900;
}


footer {
    bottom: 0px;
    text-align: center;
    padding: 1vmax;

}